.btn {
  display: inline-block;
  margin: 0;
  border-radius: 0;
  border: 0px solid transparent;
  white-space: nowrap;
  position: relative;

  font-weight: 400;
  text-align: center;

  touch-action: manipulation;

  outline: none !important;

  cursor: pointer;
  
  &.hover {
    cursor: default;
  }

  pointer-events: all;

  .box-md;

  .transition(transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
  .will-change(transform, background-color, color);

  border-top-left-radius: 100rem;
  border-bottom-left-radius: 100rem;
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;

  & > * {
    vertical-align: baseline !important;
  }

  & > .fa {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  // &::after {
  //   height: 1.8rem;
  //   width: 1.8rem;
  //   -webkit-animation: rotation .6s infinite linear;
  //   -moz-animation: rotation .6s infinite linear;
  //   -o-animation: rotation .6s infinite linear;
  //   animation: rotation .6s infinite linear;
  //   border-left: 2px solid rgba(0, 174, 239, .15);
  //   border-right: 2px solid rgba(0, 174, 239, .15);
  //   border-bottom: 2px solid rgba(0, 174, 239, .15);
  //   border-top: 2px solid rgba(0, 174, 239, .8);
  //   border-radius: 100%;

  //   position: absolute !important;
  //   left: 50%;
  //   top: 50%;
  //   .transition(opacity 0.2s);
  //   content: "";

  //   opacity: 0;
  //   pointer-events: none;
  // }
  
  background-color: rgba(0,0,0,0.0);

  &[error], &.error {
    -webkit-animation: pulseerror 1.2s infinite ease-in-out alternate forwards;
    -moz-animation: pulseerror 1.2s infinite ease-in-out alternate forwards;
    -o-animation: pulseerror 1.2s infinite ease-in-out alternate forwards;
    animation: pulseerror 1.2s infinite ease-in-out alternate forwards;

    // &::before {
    //   background-color: rgba(223, 79, 85, 0.6);
    //   transform: scale(1);
      
    //   -webkit-animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
    //   -moz-animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
    //   -o-animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
    //   animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
    // }

    // box-shadow: inset 0px 0px 0px 200px rgba(223, 79, 85, 0.5);
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
    transform: scale(0.4);

    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
    transform: scale(0.4);

    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
    pointer-events: none;
  }
  
  .popup-ext;

  &:hover, &:hover, &:focus {
    // border: 0px solid transparent;
    // background-color: transparent;
    // background-color: rgba(0,0,0,0.1);
    // box-shadow: none;
    &::before {
      transform: scale(1);
      background-color: rgba(0,0,0,0.1);
      // box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
    }
  }

  &:not(.hover) {

    &:active  {
      color: #0e1b1d;
      transform: scale(0.95);
    }
    
    &.active {
      pointer-events: none;
    }

    &:active, &.active  {
      &::before {
        transform: scale(1);
      }

      &::after {
        transform: scale(1);
        background-color: rgba(0,0,0,0.075);
      }
    }
  }

  &[loading], &.loading {
    pointer-events: none;

    -webkit-animation: pulse .6s infinite ease-in-out alternate forwards;
    -moz-animation: pulse .6s infinite ease-in-out alternate forwards;
    -o-animation: pulse .6s infinite ease-in-out alternate forwards;
    animation: pulse .6s infinite ease-in-out alternate forwards;

    &::before {
      background-color: rgba(255, 255, 255, 0.5);
      transform: scale(1);
    }

    &::after {
      background-color: rgba(255, 255, 255, 0.5);
      transform: scale(1);
      
      -webkit-animation: pulseafter .6s infinite ease-in-out alternate forwards;
      -moz-animation: pulseafter .6s infinite ease-in-out alternate forwards;
      -o-animation: pulseafter .6s infinite ease-in-out alternate forwards;
      animation: pulseafter .6s infinite ease-in-out alternate forwards;
    }
  }

  &[disabled], &.disabled {
    pointer-events: none;
    color: rgba(0,0,0,0.3);

    &::after {
      transform: scale(1);
      background-color: rgba(0,0,0,0.25);
    }
  }

  &.btn-default {
    color: #fff;
    background-color: rgba(0,0,0,0.25);

    &:active  {
      color: #fff;
    }
  }

  &.btn-primary {
    color: #fff;
    background-color: #2196f3;

    &:active  {
      color: #fff;
    }
  }

  &.btn-danger {
    color: #fff;
    background-color: #FC5457;

    &:active  {
      color: #fff;
    }
  }

  &.width-full {
    width: 100%;
  }

  &.btn-xs {
    .box-xs;
  }

  &.btn-sm {
    .box-sm;
  }

  &.btn-lg {
    .box-lg;
  }

  &.box-md-sm {
    .box-md-sm;
  }

  &.btn-auto {
    height: auto;
    line-height: normal;
  }

  &.btn-img {
    padding: 0;
    height: auto;
    width: auto;
    border: 0px solid transparent;
    box-shadow: none;

    .transition(opacity 0.1s);

    img {
      max-width: 2rem;
      max-height: 2rem;
    }

    &:hover, &:hover, &:focus  {
      opacity: 0.6;
    }

    &:active, &.active  {
      box-shadow: none;
      opacity: 0.4;
    }

    &.btn-xs {
      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }

    &.btn-sm {
      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }

    &.btn-lg {
      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }
  }
}
