// @pagination-height: 3rem;

.sp-pagination {
  // display: table;
  // table-layout: auto;
  white-space: nowrap;
  // background-color: #fff;
  // width: 100%;
  // border-spacing: 0.5rem;
  // border-collapse: separate;

  // height: @pagination-height;
  // border-collapse: separate;

  .transition(opacity 0.2s);
  .will-change(opacity);

  // margin: 0.5rem 0.5rem;
  // padding: 0;

  & > .sp-item {
    display: inline-block;
    position: relative;

    border: none;

    margin: 0;

    &:not(:first-child) {
      margin-left: 0.4rem;
    }

    &:not(:last-child) {
      margin-left: 0.4rem;
    }

    .box-sm-square;

    overflow: visible;
    padding: 0 0.4rem;
    width: auto;
    max-width: none;

    // background-color: #fff;
    border-radius: 100rem;
    font-weight: 500;

    .transition(transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
    .will-change(transform, background-color, color);

    // width: @pagination-height;
    // min-width: @pagination-height;

    text-align: center;
    vertical-align: middle;
    
    cursor: pointer;
    pointer-events: all;

    touch-action: manipulation;

    outline: none !important;

    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0,0,0,0.0);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
      background-color: rgba(0,0,0,0);
      transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
      transform: scale(0.4);

      border-top-left-radius: 100rem;
      border-bottom-left-radius: 100rem;
      border-top-right-radius: 100rem;
      border-bottom-right-radius: 100rem;
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
      background-color: rgba(0,0,0,0);
      transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
      transform: scale(0.4);

      border-top-left-radius: 100rem;
      border-bottom-left-radius: 100rem;
      border-top-right-radius: 100rem;
      border-bottom-right-radius: 100rem;
      pointer-events: none;
    }

    &:hover, &:hover, &:focus {
      // border: 0px solid transparent;
      // background-color: transparent;
      // background-color: rgba(0,0,0,0.1);
      // box-shadow: none;
      &::before {
        transform: scale(1);
        background-color: rgba(0,0,0,0.1);
        // box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
      }
    }

    &:not(.hover) {

      &:active  {
        color: #0e1b1d;
        transform: scale(0.95);
      }
      
      &.active {
        pointer-events: none;
      }

      &:active, &.active  {
        &::before {
          transform: scale(1);
        }

        &::after {
          transform: scale(1);
          background-color: rgba(0,0,0,0.075);
        }
      }
    }

    &[loading], &.loading {
      pointer-events: none;

      -webkit-animation: pulse .6s infinite ease-in-out alternate forwards;
      -moz-animation: pulse .6s infinite ease-in-out alternate forwards;
      -o-animation: pulse .6s infinite ease-in-out alternate forwards;
      animation: pulse .6s infinite ease-in-out alternate forwards;

      &::before {
        background-color: rgba(255, 255, 255, 0.5);
        transform: scale(1);
      }

      &::after {
        background-color: rgba(255, 255, 255, 0.5);
        transform: scale(1);
        
        -webkit-animation: pulseafter .6s infinite ease-in-out alternate forwards;
        -moz-animation: pulseafter .6s infinite ease-in-out alternate forwards;
        -o-animation: pulseafter .6s infinite ease-in-out alternate forwards;
        animation: pulseafter .6s infinite ease-in-out alternate forwards;
      }
    }

    &[disabled], &.disabled {
      pointer-events: none;
      color: rgba(0,0,0,0.3);
    }
  }

  &.loading {
    opacity: 0.4;

    & > .sp-item {
      pointer-events: none;
    }
  }
}
