@sp-pane-border-radius: 0.85rem;

.sp-pane {
    background-color: #fff;

    border-top-left-radius: @sp-pane-border-radius;
    border-bottom-left-radius: @sp-pane-border-radius;
    border-top-right-radius: @sp-pane-border-radius;
    border-bottom-right-radius: @sp-pane-border-radius;

    box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.05);

    color: rgba(0, 0, 0, 0.7);
    font-size: 1.1rem;
    font-weight: 400;
}

.table {
    width: 100%;

    & > .row {
        display: table;
        table-layout: auto;
        width: 100%;

        & > .col {
            display: table-cell;
            position: relative;

            &.middle {
                vertical-align: middle;
                // -webkit-flex-flow: row wrap;
            }

            &.center {
                text-align: center;
            }
        }
    }

    .row-table {
        display: table;
        table-layout: auto;
        border-spacing: 0;
        vertical-align: middle;
        width: 100%;

        & > .row {
            display: table-row;

            & > .col {
                display: table-cell;
                position: relative;

                &.middle {
                    vertical-align: middle;
                    // -webkit-flex-flow: row wrap;
                }

                &.center {
                    text-align: center;
                }
            }
        }
    }
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@var: @padding-prefix * 1;
@varp: @padding-prefix * 2;
@varpv: @padding-prefix * 0.5;

.table {
    & > .row.header {
        color: rgba(0, 0, 0, 0.4);
        font-size: 1.0rem;
        font-weight: 400;

        & > .col {
            // display: flex;
            // flex-direction: row;
            // justify-content: flex-start;
            // flex-wrap: wrap;

            // align-items: flex-end;

            padding: ~'@{varpv}rem' ~'@{varp}rem';
        }
    }

    & > .row:not(.header), .row-table {
        // display: block;
        // width: 100%;
        &:extend(.sp-pane);

        &:not(:last-child) {
            margin-bottom: ~'@{var}rem';
        }

        & > .row.border:not(:first-child) {
            & > .col {  
                border-top: solid 1px rgba(0, 0, 0, 0.09);
            }
        }

        & > .col, & > .row > .col {
            padding: ~'@{varp}rem';
            
            font-weight: 600;
            font-size: 1.2rem;
            vertical-align: middle;

            &.border-right {
                border-right: solid 1px rgba(0, 0, 0, 0.09);
            }

            &.border-left {
                border-left: solid 1px rgba(0, 0, 0, 0.09);
            }

            &.border-top {
                border-top: solid 1px rgba(0, 0, 0, 0.09);
            }

            &.border-bottom {
                border-bottom: solid 1px rgba(0, 0, 0, 0.09);
            }

            .transition(transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
            .will-change(transform, background-color, color);
        }
    }

    & > .row > .col.item, .row-table > .row > .col.item {
        touch-action: manipulation;
        outline: none !important;
        pointer-events: all;
        cursor: pointer;

        &.hover {
            cursor: default;
        }

        &::before {
            border-top-left-radius: @sp-pane-border-radius;
            border-bottom-left-radius: @sp-pane-border-radius;
            border-top-right-radius: @sp-pane-border-radius;
            border-bottom-right-radius: @sp-pane-border-radius;
        }

        &::after {
            border-top-left-radius: @sp-pane-border-radius;
            border-bottom-left-radius: @sp-pane-border-radius;
            border-top-right-radius: @sp-pane-border-radius;
            border-bottom-right-radius: @sp-pane-border-radius;
        }
        
        &::before {
            content: '';
            position: absolute;
            left: 0.4rem;
            top: 0.4rem;
            right: 0.4rem;
            bottom: 0.4rem;
            // width: 100%;
            // height: 100%;
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
            background-color: rgba(0,0,0,0);
            transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
            transform: scale(0.4);

            pointer-events: none;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0.4rem;
            top: 0.4rem;
            right: 0.4rem;
            bottom: 0.4rem;
            // width: 100%;
            // height: 100%;
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
            background-color: rgba(0,0,0,0);
            transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
            transform: scale(0.4);

            pointer-events: none;
        }

        &:hover, &:active, &.open {
            & > .popup {
                &:extend(.popup.show);
            }
        }

        &:hover > .popup, &:focus > .popup {
            // cursor: pointer;
            &:extend(.popup.show);
        }

        &[loading] > .popup, &.loading > .popup, &[disabled] > .popup, &.disabled > .popup {
            &:extend(.popup.hide);
        }

        &:hover, &:focus, &.focus {
            // background-color: rgba(0, 0, 0, 0.05);
            &::before {
                transform: scale(1);
                background-color: rgba(0,0,0,0.1);
                // box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
            }
        }

        &:not(.hover) {
            &:active  {
                // transform: scale(0.93);

                &::before {
                    // transform: scale(1.0);
                }

                &::after {
                    transform: scale(1.0);
                    background-color: rgba(0,0,0,0.075);
                }
            }
            
            &.active {
                font-weight: 500;
                pointer-events: none;
                color: #fff;

                &::before {
                    transform: scale(1);
                }

                &::after {
                    transform: scale(1);
                    background-color: rgba(0,0,0,0.075);
                }
            }
        }

        &[loading], &.loading {
            font-weight: 500;
            pointer-events: none;
            
            color: #fff;

            -webkit-animation: pulse .6s infinite ease-in-out alternate forwards;
            -moz-animation: pulse .6s infinite ease-in-out alternate forwards;
            -o-animation: pulse .6s infinite ease-in-out alternate forwards;
            animation: pulse .6s infinite ease-in-out alternate forwards;

            // &::before {
            //   background-color: rgba(0,0,0,0.03);
            //   transform: scale(1);
            // }

            &::after {
                background-color: rgba(0,0,0,0.075);
                transform: scale(1);
                
                -webkit-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                -moz-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                -o-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                animation: pulseafter .6s infinite ease-in-out alternate forwards;
            }
        }

        &[disabled], &.disabled {
            pointer-events: none;

            &::after {
                transform: scale(1);
                background-color: rgba(0,0,0,0.25);
            }
        }
    }
}

.pane-btn {
    .btn;
    .btn.btn-xs;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.03);

    border-top-left-radius: @sp-pane-border-radius;
    border-bottom-left-radius: @sp-pane-border-radius;
    border-top-right-radius: @sp-pane-border-radius;
    border-bottom-right-radius: @sp-pane-border-radius;

    &::before {
        border-top-left-radius: @sp-pane-border-radius;
        border-bottom-left-radius: @sp-pane-border-radius;
        border-top-right-radius: @sp-pane-border-radius;
        border-bottom-right-radius: @sp-pane-border-radius;
    }

    &::after {
        border-top-left-radius: @sp-pane-border-radius;
        border-bottom-left-radius: @sp-pane-border-radius;
        border-top-right-radius: @sp-pane-border-radius;
        border-bottom-right-radius: @sp-pane-border-radius;
    }
    
    width: 100%;
}

.pane-table {
    display: table;
    table-layout: auto;
    border-spacing: 0;
    vertical-align: top;
    width: 100%;

    & > .row {
        display: table-row;

        &.border-top {
            & > .col {
                border-top: solid 1px rgba(0, 0, 0, 0.09);
            }
        }

        &.border-bottom {
            & > .col {
                border-bottom: solid 1px rgba(0, 0, 0, 0.09);
            }
        }
    }

    & > .col, & > .row > .col {
        display: table-cell;
        position: relative;

        &.border-right {
            border-right: solid 1px rgba(0, 0, 0, 0.09);
        }

        &.border-left {
            border-left: solid 1px rgba(0, 0, 0, 0.09);
        }

        &.border-top {
            border-top: solid 1px rgba(0, 0, 0, 0.09);
        }

        &.border-bottom {
            border-bottom: solid 1px rgba(0, 0, 0, 0.09);
        }

        .transition(transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
        .will-change(transform, background-color, color);

        &.top {
            vertical-align: top;
        }

        &.middle {
            vertical-align: middle;
        }

        &.bottom {
            vertical-align: bottom;
        }

        &.left {
            text-align: left;
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }

        &.item {
            touch-action: manipulation;
            outline: none !important;
            pointer-events: all;
            cursor: pointer;

            &.hover {
                cursor: default;
            }

            &::before {
                border-top-left-radius: @sp-pane-border-radius;
                border-bottom-left-radius: @sp-pane-border-radius;
                border-top-right-radius: @sp-pane-border-radius;
                border-bottom-right-radius: @sp-pane-border-radius;
            }

            &::after {
                border-top-left-radius: @sp-pane-border-radius;
                border-bottom-left-radius: @sp-pane-border-radius;
                border-top-right-radius: @sp-pane-border-radius;
                border-bottom-right-radius: @sp-pane-border-radius;
            }
            
            &::before {
                content: '';
                position: absolute;
                left: 0.4rem;
                top: 0.4rem;
                right: 0.4rem;
                bottom: 0.4rem;
                // width: 100%;
                // height: 100%;
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                background-color: rgba(0,0,0,0);
                transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
                transform: scale(0.4);

                pointer-events: none;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0.4rem;
                top: 0.4rem;
                right: 0.4rem;
                bottom: 0.4rem;
                // width: 100%;
                // height: 100%;
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                background-color: rgba(0,0,0,0);
                transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
                transform: scale(0.4);

                pointer-events: none;
            }

            &:hover, &:active, &.open {
                & > .popup {
                    &:extend(.popup.show);
                }
            }

            &:hover > .popup, &:focus > .popup {
                // cursor: pointer;
                &:extend(.popup.show);
            }

            &[loading] > .popup, &.loading > .popup, &[disabled] > .popup, &.disabled > .popup {
                &:extend(.popup.hide);
            }

            &:hover, &:focus, &.focus {
                // background-color: rgba(0, 0, 0, 0.05);
                &::before {
                    transform: scale(1);
                    background-color: rgba(0,0,0,0.1);
                    // box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
                }
            }

            &:not(.hover) {
                &:active  {
                    // transform: scale(0.93);

                    &::before {
                        // transform: scale(1.0);
                    }

                    &::after {
                        transform: scale(1.0);
                        background-color: rgba(0,0,0,0.075);
                    }
                }
                
                &.active {
                    font-weight: 500;
                    pointer-events: none;
                    color: #fff;

                    &::before {
                        transform: scale(1);
                    }

                    &::after {
                        transform: scale(1);
                        background-color: rgba(0,0,0,0.075);
                    }
                }
            }

            &[loading], &.loading {
                font-weight: 500;
                pointer-events: none;
                
                color: #fff;

                -webkit-animation: pulse .6s infinite ease-in-out alternate forwards;
                -moz-animation: pulse .6s infinite ease-in-out alternate forwards;
                -o-animation: pulse .6s infinite ease-in-out alternate forwards;
                animation: pulse .6s infinite ease-in-out alternate forwards;

                // &::before {
                //   background-color: rgba(0,0,0,0.03);
                //   transform: scale(1);
                // }

                &::after {
                    background-color: rgba(0,0,0,0.075);
                    transform: scale(1);
                    
                    -webkit-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                    -moz-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                    -o-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                    animation: pulseafter .6s infinite ease-in-out alternate forwards;
                }
            }

            &[disabled], &.disabled {
                pointer-events: none;

                &::after {
                    transform: scale(1);
                    background-color: rgba(0,0,0,0.25);
                }
            }
        }
    }
}