.sp-progress {
    display: table;
    table-layout: auto;
    width: 100%;
    // position: relative;

    font-size: 1.0rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

    text-align: center;

    & > * {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        position: relative;
        width: auto;

        padding: 1.7rem 1rem;
        padding-bottom: 0;

        &.meter {
            border-top: solid 0.3rem rgba(0, 0, 0, 0.1);
            border-radius: 1rem;
        }
        
        &::before {
            content: '';
            position: absolute;
            // border-top-right-radius: 100rem;
            // border-bottom-right-radius: 100rem;
            // border-top-left-radius: 100rem;
            // border-bottom-left-radius: 100rem;
            // border: solid 0.25rem rgba(255, 255, 255, 1.0);
            bottom: calc(100% - 29rem);
            left: 0;
            width: 100%;
            height: 0.4rem;
            background-color: rgba(0, 227, 192, 1.0);
            transform: translateY(50%);
        }
        
        &::after {
            content: '';
            position: absolute;
            border-radius: 100%;
            border: solid 0.2rem rgba(255, 255, 255, 1.0);
            bottom: calc(100% - 29rem);
            right: 50%;
            width: 0.9rem;
            height: 0.9rem;
            background-color: rgba(0, 227, 192, 1.0);
            transform: translateY(50%) translateX(50%);
        }

        // &.active:not(:last-child) {
        //     border-top: solid 0.4rem rgba(0, 227, 192, 1.0);
        // }

        &:first-child {
            &::before {
                border-top-left-radius: 100rem;
                border-bottom-left-radius: 100rem;
            }
        }

        &:last-child {
            &::before {
                border-top-right-radius: 100rem;
                border-bottom-right-radius: 100rem;
            }
        }

        &.active {
            &::before {
                width: attr(data-progress);

                border-top-right-radius: 100rem;
                border-bottom-right-radius: 100rem;
            }

            &::after {
                box-shadow: 0px 0px 1.5rem 0px rgba(0, 227, 192, 0.7);

                -webkit-animation: pulseshadow 1.6s infinite ease-in-out alternate forwards;
                -moz-animation: pulseshadow 1.6s infinite ease-in-out alternate forwards;
                -o-animation: pulseshadow 1.6s infinite ease-in-out alternate forwards;
                animation: pulseshadow 1.6s infinite ease-in-out alternate forwards;
            }
        }

        &.active ~ * {
            color: rgba(0, 0, 0, 0.3);
            // border-top: dotted 0.4rem rgba(0, 0, 0, 0.1);
            &::before {
                // opacity: 0;
                background: rgba(0, 0, 0, 0.1);
                // border-top: solid 0.4rem rgba(0, 0, 0, 0.1);
            }

            &::before {
                overflow: hidden;
                content: '........................................................................';
                text-align: center;
                background-color: transparent;
                height: 2rem;
                font-size: 2.8rem;
                line-height: 0;
                bottom: calc(100% - 30rem);
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &::after {
                background-color: #DDDEE0;
            }
        }
    }
}

@-webkit-keyframes pulseshadow {
  from {
    box-shadow: 0px 0px 1.5rem 0px rgba(0, 227, 192, 0.7);
  }
  to {
    box-shadow: 0px 0px 0rem 0px rgba(0, 227, 192, 0.7);
  }
}

@-moz-keyframes pulseshadow {
  from {
    box-shadow: 0px 0px 1.5rem 0px rgba(0, 227, 192, 0.7);
  }
  to {
    box-shadow: 0px 0px 0rem 0px rgba(0, 227, 192, 0.7);
  }
}

@-o-keyframes pulseshadow {
  from {
    box-shadow: 0px 0px 1.5rem 0px rgba(0, 227, 192, 0.7);
  }
  to {
    box-shadow: 0px 0px 0rem 0px rgba(0, 227, 192, 0.7);
  }
}

@keyframes pulseshadow {
  from {
    box-shadow: 0px 0px 1.5rem 0px rgba(0, 227, 192, 0.7);
  }
  to {
    box-shadow: 0px 0px 0rem 0px rgba(0, 227, 192, 0.7);
  }
}