@sp-tab-height: 4rem;

.sp-tab {
  height: @sp-tab-height;

  color: rgba(0, 0, 0, 0.6);

  & > *, & > * > .sp-group {
    display: table;
    height: 100%;

    font-size: 1.1rem;
    font-weight: 400;

    & > * {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;

      padding: 0;

      img {
        height: 1.8rem;
      }
    }

    & > .sp-item {
      touch-action: manipulation;
      outline: none !important;
      position: relative;
      height: 100%;
      // font-size: 1.15rem;
      // font-weight: 500;
      white-space: nowrap;
      padding: 0 1.1rem;

      background-color: transparent;

      outline: none;

      cursor: pointer;

      pointer-events: all;

      .transition(transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
      .will-change(transform, background-color, color);

      background-color: rgba(0,0,0,0.0);

      & > .bud {
        color: #fff;
        background-color: #E175E4;
        position: absolute;
        right: 0;
        top: 0.5rem;
        right: 0.5rem;
        width: auto;
        height: auto;
        padding: 0.15rem 0.5rem;
        border-radius: 1rem;
        font-size: 0.775rem;

        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
      }

      & > .fa:not(:last-child) {
        // color: #2b9bf4;
        margin-right: 0.5rem;
      }

      &.image {
        width: @sp-tab-height;
        min-width: @sp-tab-height;
        text-align: center;
        padding: 0;
        font-size: 2.25rem;
      }

      &::before {
        content: '';
        position: absolute;
        left: 1.1rem;
        right: 1.1rem;
        bottom: 0.8rem;
        height: 0.15rem;
        // width: 100%;
        // height: 100%;
        // box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        background-color: rgba(78, 154, 225, 0);
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
        transform: scale(0.4);

        pointer-events: none;
      }

      &::after {
        content: '';
        position: absolute;
        left: 1.1rem;
        right: 1.1rem;
        bottom: 0.8rem;
        height: 0.15rem;
        // width: 100%;
        // height: 100%;
        // box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        background-color: rgba(78, 154, 225, 0);
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
        transform: scale(0.4);

        pointer-events: none;
      }

      &:hover, &:active, &.open {
        & > .popup {
          &:extend(.popup.show);
        }
      }

      &:hover > .popup, &:focus > .popup {
        cursor: pointer;
        &:extend(.popup.show);
      }

      &[loading] > .popup, &.loading > .popup, &[disabled] > .popup, &.disabled > .popup {
        &:extend(.popup.hide);
      }

      &:hover, &:focus, &.focus {
        // background-color: rgba(0, 0, 0, 0.05);
        &::before {
          transform: scale(1);
          background-color: rgba(0,0,0,0.1);
          // box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
        }
      }

      &:active  {
        transform: scale(0.93);

        &::before {
          transform: scale(1.08);
        }

        &::after {
          transform: scale(1.08);
          background-color: rgba(78, 154, 225, 1);
        }
      }
      
      &.active {
        font-weight: 500;
        pointer-events: none;
        // color: #fff;

        &::before {
          transform: scale(1);
        }

        &::after {
          transform: scale(1);
          background-color: rgba(78, 154, 225, 1);
        }
      }

      &[loading], &.loading {
        font-weight: 500;
        pointer-events: none;
        color: rgba(0, 0, 0, 0.5);
        
        // color: #fff;

        -webkit-animation: pulse .6s infinite ease-in-out alternate forwards;
        -moz-animation: pulse .6s infinite ease-in-out alternate forwards;
        -o-animation: pulse .6s infinite ease-in-out alternate forwards;
        animation: pulse .6s infinite ease-in-out alternate forwards;

        // &::before {
        //   background-color: rgba(0,0,0,0.03);
        //   transform: scale(1);
        // }

        &::after {
          background-color: rgba(78, 154, 225, 0.5);
          transform: scale(1);
          
          -webkit-animation: pulseafter .6s infinite ease-in-out alternate forwards;
          -moz-animation: pulseafter .6s infinite ease-in-out alternate forwards;
          -o-animation: pulseafter .6s infinite ease-in-out alternate forwards;
          animation: pulseafter .6s infinite ease-in-out alternate forwards;
        }
      }

      &[disabled], &.disabled {
        pointer-events: none;
        color: rgba(0, 0, 0, 0.2);

        // &::after {
        //   transform: scale(1);
        //   background-color: rgba(0,0,0,0.25);
        // }
      }
    }

    & > .sp-header {
      white-space: nowrap;
      font-size: 1.2rem;
      font-weight: 200;
      padding: 0 1rem;
      color: rgba(255, 255, 255, 0.7);
      
      & > .fa {
        font-size: 2.5rem;
      }

      & > .fa:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    & > .sp-group {
      background-color: rgba(0,0,0,0.03);
    }

    & > .sp-space {
      width: 100%;
    }

    & > .sp-divider {
      position: relative;
      padding: 0;

      &:after {
        content: "";
        position: absolute;
        height: 2.25rem;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        top: 50%;
        transform: translateY(-50%);
      }
    }

    & > .sp-input {
      position: relative;
      white-space: nowrap;
      padding: 0 1rem;

      input:hover ~ .popup, input:focus ~ .popup {
        &:extend(.popup.show);
      }

      // &[loading] > .popup, &.loading > .popup, &[disabled] > .popup, &.disabled > .popup {
      //   &:extend(.popup.hide);
      // }

      & > input ~ .right {
        font-size: 0.8rem;
        position: absolute;
        text-align: right;
        top: 50%;
        right: 2.05rem;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.8);
        
        transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out, left 0.2s ease-in-out, font-size 0.2s ease-in-out;
      }

      & > input:focus ~ .right {
        font-size: 1rem;
        right: 2.25rem;
        color: #a8bbc0;
      }

      & > input:not(:placeholder-shown) ~ .right {
        opacity: 0;
      }

      & > input + .fa {
        font-size: 0.8rem;
        position: absolute;
        top: 50%;
        left: 2.05rem;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.8);
        
        transition: color 0.2s ease-in-out, left 0.2s ease-in-out, font-size 0.2s ease-in-out;
      }

      & > input:focus + .fa {
        font-size: 1rem;
        left: 2.25rem;
        color: #a8bbc0;
      }

      & > input {
        font-size: 0.8rem;
        border-radius: 10rem;
        width: 100%;
        min-width: 15rem;
        box-sizing: border-box;
        // margin: 0 5rem;

        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(78, 154, 225, 1);

        outline: none;
        padding: 0.65rem 1.05rem 0.65rem 2.25rem;

        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, padding 0.2s ease-in-out, font-size 0.2s ease-in-out;
        .will-change(color, background-color);

        pointer-events: all;
        .selectable;
        cursor: text;

        border: 1px solid transparent;

        &::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.7);
          font-weight: 400;
        }

        &:-moz-placeholder {
          color: rgba(255, 255, 255, 0.7);
          font-weight: 400;
        }

        &::-moz-placeholder {
          color: rgba(255, 255, 255, 0.7);
          font-weight: 400;
        }

        &:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.7);
          font-weight: 400;
        }

        &:focus {
          font-size: 1rem;
          margin: 0;
          padding: 0.75rem 1.25rem 0.75rem 2.75rem;
          // border: 1px solid #2196f3;
          color: #333;
          background-color: #fff;

          &::-webkit-input-placeholder {
            color: #a8bbc0;
          }

          &:-moz-placeholder {
            color: #a8bbc0;
          }

          &::-moz-placeholder {
            color: #a8bbc0;
          }

          &:-ms-input-placeholder {
            color: #a8bbc0;
          }
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 1.1rem;
        right: 1.1rem;
        bottom: 0.15rem;
        height: 0.15rem;
        // width: 100%;
        // height: 100%;
        background-color: rgba(0,0,0,0);
        transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
        transform: scale(0.4);

        pointer-events: none;
      }

      &[loading], &.loading {
        // pointer-events: none;
        
        color: #fff;

        // -webkit-animation: pulse .6s infinite ease-in-out alternate forwards;
        // -moz-animation: pulse .6s infinite ease-in-out alternate forwards;
        // -o-animation: pulse .6s infinite ease-in-out alternate forwards;
        // animation: pulse .6s infinite ease-in-out alternate forwards;

        &::after {
          background-color: rgba(78, 154, 225, 0.5);
          transform: scale(1);
          
          -webkit-animation: pulseafter .6s infinite ease-in-out alternate forwards;
          -moz-animation: pulseafter .6s infinite ease-in-out alternate forwards;
          -o-animation: pulseafter .6s infinite ease-in-out alternate forwards;
          animation: pulseafter .6s infinite ease-in-out alternate forwards;
        }
      }
    }
  }
}
