.sp-tag {
    display: inline-block;
    position: relative;

    border-radius: 100rem;
    border: solid 1px rgba(0, 0, 0, 0.1);

    text-align: center;
    vertical-align: middle;

    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

    white-space: nowrap;

    & > * {
        display: inline-block;
    }

    &:not(:last-child) {
        margin-right: 0.3rem;
    }

    & > .sp-profile-img-tag {
        &:extend(.sp-profile-img);
        height: 1rem;
        width: 1rem;

        &:not(:last-child) {
            margin-right: 0.35rem;
        }
    }

    & > .close::after {
        // pointer-events: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 0.35rem;
        &:extend(.text.red);
        &:extend(.fa-close:before);
    }

    & > .bars::after {
        // pointer-events: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 0.35rem;
        &:extend(.text.subsub);
        &:extend(.fa-bars:before);
    }

    &.item {
        touch-action: manipulation;

        outline: none !important;

        pointer-events: all;

        .transition(transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
        .will-change(transform, background-color, color);
    
        background-color: rgba(0,0,0,0.0);

        &[error], &.error {
            -webkit-animation: pulseerror 1.2s infinite ease-in-out alternate forwards;
            -moz-animation: pulseerror 1.2s infinite ease-in-out alternate forwards;
            -o-animation: pulseerror 1.2s infinite ease-in-out alternate forwards;
            animation: pulseerror 1.2s infinite ease-in-out alternate forwards;

            // &::before {
            //   background-color: rgba(223, 79, 85, 0.6);
            //   transform: scale(1);
            
            //   -webkit-animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
            //   -moz-animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
            //   -o-animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
            //   animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
            // }

            // box-shadow: inset 0px 0px 0px 200px rgba(223, 79, 85, 0.5);
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
            background-color: rgba(0,0,0,0);
            transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
            transform: scale(0.4);

            border-top-left-radius: 100rem;
            border-bottom-left-radius: 100rem;
            border-top-right-radius: 100rem;
            border-bottom-right-radius: 100rem;
            pointer-events: none;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
            background-color: rgba(0,0,0,0);
            transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
            transform: scale(0.4);

            border-top-left-radius: 100rem;
            border-bottom-left-radius: 100rem;
            border-top-right-radius: 100rem;
            border-bottom-right-radius: 100rem;
            pointer-events: none;
        }
  
        .popup-ext;

        &:hover, &:hover, &:focus {
            // border: 0px solid transparent;
            // background-color: transparent;
            // background-color: rgba(0,0,0,0.1);
            // box-shadow: none;
            &::before {
                transform: scale(1);
                background-color: rgba(0,0,0,0.1);
                // box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
            }
        }

        &:not(.hover) {
            cursor: pointer;

            &:active  {
                color: #0e1b1d;
                transform: scale(0.95);
            }
            
            &.active {
                pointer-events: none;
            }

            &:active, &.active  {
                &::before {
                    transform: scale(1);
                }

                &::after {
                    transform: scale(1);
                    background-color: rgba(0,0,0,0.075);
                }
            }
        }

        &[loading], &.loading {
            pointer-events: none;

            -webkit-animation: pulse .6s infinite ease-in-out alternate forwards;
            -moz-animation: pulse .6s infinite ease-in-out alternate forwards;
            -o-animation: pulse .6s infinite ease-in-out alternate forwards;
            animation: pulse .6s infinite ease-in-out alternate forwards;

            &::before {
                background-color: rgba(255, 255, 255, 0.5);
                transform: scale(1);
            }

            &::after {
                background-color: rgba(255, 255, 255, 0.5);
                transform: scale(1);
                
                -webkit-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                -moz-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                -o-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                animation: pulseafter .6s infinite ease-in-out alternate forwards;
            }
        }

        &[disabled], &.disabled {
            pointer-events: none;
            color: rgba(0,0,0,0.3);

            &::after {
                transform: scale(1);
                background-color: rgba(0,0,0,0.25);
            }
        }
    }

    .box-xs;

    &.tag-xs {
        .box-xs;
    }

    &.tag-sm {
        .box-sm;
    }

    &.tag-md {
        .box-md;
    }

    &.tag-lg {
        .box-lg;
    }
}