* {
  // display: block;
  pointer-events: none;
  
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;

  z-index: 0;
  box-sizing: border-box;
  // position: relative;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 0.75rem;
  line-height: 0.75rem * 2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: #F5F6F8;

  color: #0e1b1d;
  font-weight: 400;
  font-size: 1.1rem;

  pointer-events: all;

  margin: 0;
}