.container {
    @media screen and (max-width: @mobile) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @media screen and (min-width: @mobile) and (max-width: @tablet) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @media screen and (min-width: @tablet) and (max-width: @pc) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @media screen and (min-width: @pc) and (max-width: @ultra) {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    @media screen and (min-width: @ultra) {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

.container-content {
    min-width: 80rem;

    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: @mobile) {
        width: 100%;
    }
    @media screen and (min-width: @mobile) and (max-width: @tablet) {
        max-width: 80%;
    }
    @media screen and (min-width: @tablet) and (max-width: @pc) {
        max-width: 80%;
    }
    @media screen and (min-width: @pc) and (max-width: @ultra) {
        max-width: 85%;
    }
    @media screen and (min-width: @ultra) {
        max-width: 85%;
    }
}