h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 2.0rem;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

h5 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}
