@-webkit-keyframes rotation {
  from {
    .transform(translateX(-50%) translateY(-50%) rotate(0deg));
  }
  to {
    .transform(translateX(-50%) translateY(-50%) rotate(359deg));
  }
}

@-moz-keyframes rotation {
  from {
    .transform(translateX(-50%) translateY(-50%) rotate(0deg));
  }
  to {
    .transform(translateX(-50%) translateY(-50%) rotate(359deg));
  }
}

@-o-keyframes rotation {
  from {
    .transform(translateX(-50%) translateY(-50%) rotate(0deg));
    -o-transform: rotate(0deg);
  }
  to {
    .transform(translateX(-50%) translateY(-50%) rotate(359deg));
  }
}

@keyframes rotation {
  from {
    .transform(translateX(-50%) translateY(-50%) rotate(0deg));
  }
  to {
    .transform(translateX(-50%) translateY(-50%) rotate(359deg));
  }
}

.loader {
  height: 1.8rem;
  width: 1.8rem;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 2px solid rgba(0, 174, 239, .15);
  border-right: 2px solid rgba(0, 174, 239, .15);
  border-bottom: 2px solid rgba(0, 174, 239, .15);
  border-top: 2px solid rgba(0, 174, 239, .8);
  border-radius: 100%;

  content: "";

  pointer-events: none;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0.9;
  }
}

@-moz-keyframes pulse {
  from {
    transform: scale(0.95);
    opacity: 0.9;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@-o-keyframes pulse {
  from {
    transform: scale(0.95);
    opacity: 0.9;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.95);
    opacity: 0.9;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes pulsebefore {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.4);
    opacity: 0;
  }
}

@-moz-keyframes pulsebefore {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.4);
    opacity: 0;
  }
}

@-o-keyframes pulsebefore {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.4);
    opacity: 0;
  }
}

@keyframes pulsebefore {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.4);
    opacity: 0;
  }
}

@-webkit-keyframes pulseafter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes pulseafter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes pulseafter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulseafter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes pulseerror {
  from {
    box-shadow: inset 0px 0px 0px 0px rgba(223, 79, 85, 0);
  }
  to {
    box-shadow: inset 0px 0px 0px 200px rgba(223, 79, 85, 0.6);
  }
}

@-moz-keyframes pulseerror {
  from {
    box-shadow: inset 0px 0px 0px 0px rgba(223, 79, 85, 0);
  }
  to {
    box-shadow: inset 0px 0px 0px 200px rgba(223, 79, 85, 0.6);
  }
}

@-o-keyframes pulseerror {
  from {
    box-shadow: inset 0px 0px 0px 0px rgba(223, 79, 85, 0);
  }
  to {
    box-shadow: inset 0px 0px 0px 200px rgba(223, 79, 85, 0.6);
  }
}

@keyframes pulseerror {
  from {
    box-shadow: inset 0px 0px 0px 0px rgba(223, 79, 85, 0);
  }
  to {
    box-shadow: inset 0px 0px 0px 200px rgba(223, 79, 85, 0.6);
  }
}