.transition (@value1, @value2:X, ...)
{
  @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

  -webkit-transition: @value;
  -moz-transition: @value;
  -ms-transition: @value;
  -o-transition: @value;
  transition: @value;
}

.animation (@value1, @value2:X, ...)
{
  @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

  -webkit-animation: @value;
  -moz-animation: @value;
  -ms-animation: @value;
  -o-animation: @value;
  animation: @value;
}

.keyframes (@name, @frames) {
  @-webkit-keyframes @name { @frames(); }
  @-moz-keyframes @name { @frames(); }
  @-ms-keyframes @name { @frames(); }
  @-o-keyframes @name { @frames(); }
  @keyframes @name { @frames(); }
}

.transform (@value1, @value2:X, ...)
{
  @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}

.box-shadow (@value1, @value2:X, ...)
{
  @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

  -webkit-box-shadow: @value;
  -moz-box-shadow: @value;
  -ms-box-shadow: @value;
  -o-box-shadow: @value;
  box-shadow: @value;
}

.will-change (@value1, @value2:X, ...)
{
  @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

  will-change: @value;
}
