@padding-prefix: 0.9;

.mixin-loop (@i) when (@i > -1) {
  @vari: @i * @padding-prefix;

  .padding-@{i}, .padding-@{i}-ntfirst:not(:first-child), .padding-@{i}-ntlast:not(:last-child) {
    padding: ~'@{vari}rem' !important;
  }
  .padding-left-@{i}, .padding-left-@{i}-ntfirst:not(:first-child), .padding-left-@{i}-ntlast:not(:last-child) {
    padding-left: ~'@{vari}rem' !important;
  }
  .padding-right-@{i}, .padding-right-@{i}-ntfirst:not(:first-child), .padding-right-@{i}-ntlast:not(:last-child) {
    padding-right: ~'@{vari}rem' !important;
  }
  .padding-top-@{i}, .padding-top-@{i}-ntfirst:not(:first-child), .padding-top-@{i}-ntlast:not(:last-child) {
    padding-top: ~'@{vari}rem' !important;
  }
  .padding-bottom-@{i}, .padding-bottom-@{i}-ntfirst:not(:first-child), .padding-bottom-@{i}-ntlast:not(:last-child) {
    padding-bottom: ~'@{vari}rem' !important;
  }
  .padding-horizontal-@{i}, .padding-horizontal-@{i}-ntfirst:not(:first-child), .padding-horizontal-@{i}-ntlast:not(:last-child) {
    padding-left: ~'@{vari}rem' !important;
    padding-right: ~'@{vari}rem' !important;
  }
  .padding-vertical-@{i}, .padding-vertical-@{i}-ntfirst:not(:first-child), .padding-vertical-@{i}-ntlast:not(:last-child) {
    padding-top: ~'@{vari}rem' !important;
    padding-bottom: ~'@{vari}rem' !important;
  }

  .margin-@{i}, .margin-@{i}-ntfirst:not(:first-child), .margin-@{i}-ntlast:not(:last-child) {
    margin: ~'@{vari}rem' !important;
  }
  .margin-left-@{i}, .margin-left-@{i}-ntfirst:not(:first-child), .margin-left-@{i}-ntlast:not(:last-child) {
    margin-left: ~'@{vari}rem' !important;
  }
  .margin-right-@{i}, .margin-rigth-@{i}-ntfirst:not(:first-child), .margin-rigth-@{i}-ntlast:not(:last-child) {
    margin-right: ~'@{vari}rem' !important;
  }
  .margin-top-@{i}, .margin-top-@{i}-ntfirst:not(:first-child), .margin-top-@{i}-ntlast:not(:last-child) {
    margin-top: ~'@{vari}rem' !important;
  }
  .margin-bottom-@{i}, .margin-bottom-@{i}-ntfirst:not(:first-child), .margin-bottom-@{i}-ntlast:not(:last-child) {
    margin-bottom: ~'@{vari}rem' !important;
  }
  .margin-horizontal-@{i}, .margin-horizontal-@{i}-ntfirst:not(:first-child), .margin-horizontal-@{i}-ntlast:not(:last-child) {
    margin-left: ~'@{vari}rem' !important;
    margin-right: ~'@{vari}rem' !important;
  }
  .margin-vertical-@{i}, .margin-vertical-@{i}-ntfirst:not(:first-child), .margin-vertical-@{i}-ntlast:not(:last-child) {
    margin-top: ~'@{vari}rem' !important;
    margin-bottom: ~'@{vari}rem' !important;
  }

  @vark: @i * 4;

  .width-@{i} {
    width: ~'@{vark}rem' !important;
  }
  .height-@{i} {
    height: ~'@{vark}rem' !important;
  }
  .min-width-@{i} {
    min-width: ~'@{vark}rem' !important;
  }
  .min-height-@{i} {
    min-height: ~'@{vark}rem' !important;
  }
  .max-width-@{i} {
    max-width: ~'@{vark}rem' !important;
  }
  .max-height-@{i} {
    max-height: ~'@{vark}rem' !important;
  }

  @varm: @i * 2;

  .width-d@{i} {
    width: ~'@{varm}rem' !important;
  }
  .height-d@{i} {
    height: ~'@{varm}rem' !important;
  }
  .min-width-d@{i} {
    min-width: ~'@{varm}rem' !important;
  }
  .min-height-d@{i} {
    min-height: ~'@{varm}rem' !important;
  }
  .max-width-d@{i} {
    max-width: ~'@{varm}rem' !important;
  }
  .max-height-d@{i} {
    max-height: ~'@{varm}rem' !important;
  }

  @vard: @i * 10;

  .width-v@{i} {
    width: ~'@{vard}vw' !important;
  }
  .height-v@{i} {
    height: ~'@{vard}vh' !important;
  }
  .min-width-v@{i} {
    min-width: ~'@{vard}vw' !important;
  }
  .min-height-v@{i} {
    min-height: ~'@{vard}vh' !important;
  }
  .max-width-v@{i} {
    max-width: ~'@{vard}vw' !important;
  }
  .max-height-v@{i} {
    max-height: ~'@{vard}vh' !important;
  }

  .width-p@{i} {
    width: ~'@{vard}%' !important;
  }
  .height-p@{i} {
    height: ~'@{vard}%' !important;
  }
  .min-width-p@{i} {
    min-width: ~'@{vard}%' !important;
  }
  .min-height-p@{i} {
    min-height: ~'@{vard}%' !important;
  }
  .max-width-p@{i} {
    max-width: ~'@{vard}%' !important;
  }
  .max-height-p@{i} {
    max-height: ~'@{vard}%' !important;
  }

  @varl: (@i - 0.5) * @padding-prefix;

  .padding-d@{i}, .padding-d@{i}-ntfirst:not(:first-child), .padding-d@{i}-ntlast:not(:last-child) {
    padding: ~'@{varl}rem' !important;
  }
  .padding-left-d@{i}, .padding-left-d@{i}-ntfirst:not(:first-child), .padding-left-d@{i}-ntlast:not(:last-child) {
    padding-left: ~'@{varl}rem' !important;
  }
  .padding-right-d@{i}, .padding-right-d@{i}-ntfirst:not(:first-child), .padding-right-d@{i}-ntlast:not(:last-child) {
    padding-right: ~'@{varl}rem' !important;
  }
  .padding-top-d@{i}, .padding-top-d@{i}-ntfirst:not(:first-child), .padding-top-d@{i}-ntlast:not(:last-child) {
    padding-top: ~'@{varl}rem' !important;
  }
  .padding-bottom-d@{i}, .padding-bottom-d@{i}-ntfirst:not(:first-child), .padding-bottom-d@{i}-ntlast:not(:last-child) {
    padding-bottom: ~'@{varl}rem' !important;
  }
  .padding-horizontal-d@{i}, .padding-horizontal-d@{i}-ntfirst:not(:first-child), .padding-horizontal-d@{i}-ntlast:not(:last-child) {
    padding-left: ~'@{varl}rem' !important;
    padding-right: ~'@{varl}rem' !important;
  }
  .padding-vertical-d@{i}, .padding-vertical-d@{i}-ntfirst:not(:first-child), .padding-vertical-d@{i}-ntlast:not(:last-child) {
    padding-top: ~'@{varl}rem' !important;
    padding-bottom: ~'@{varl}rem' !important;
  }

  .margin-d@{i}, .margin-d@{i}-ntfirst:not(:first-child), .margin-d@{i}-ntlast:not(:last-child) {
    margin: ~'@{varl}rem' !important;
  }
  .margin-left-d@{i}, .margin-left-d@{i}-ntfirst:not(:first-child), .margin-left-d@{i}-ntlast:not(:last-child) {
    margin-left: ~'@{varl}rem' !important;
  }
  .margin-right-d@{i}, .margin-right-d@{i}-ntfirst:not(:first-child), .margin-right-d@{i}-ntlast:not(:last-child) {
    margin-right: ~'@{varl}rem' !important;
  }
  .margin-top-d@{i}, .margin-top-d@{i}-ntfirst:not(:first-child), .margin-top-d@{i}-ntlast:not(:last-child) {
    margin-top: ~'@{varl}rem' !important;
  }
  .margin-bottom-d@{i}, .margin-bottom-d@{i}-ntfirst:not(:first-child), .margin-bottom-d@{i}-ntlast:not(:last-child) {
    margin-bottom: ~'@{varl}rem' !important;
  }
  .margin-horizontal-d@{i}, .margin-horizontal-d@{i}-ntfirst:not(:first-child), .margin-horizontal-d@{i}-ntlast:not(:last-child) {
    margin-left: ~'@{varl}rem' !important;
    margin-right: ~'@{varl}rem' !important;
  }
  .margin-vertical-d@{i}, .margin-vertical-d@{i}-ntfirst:not(:first-child), .margin-vertical-d@{i}-ntlast:not(:last-child) {
    margin-top: ~'@{varl}rem' !important;
    margin-bottom: ~'@{varl}rem' !important;
  }

  @varlpd: (@i - 0.5) * @padding-prefix / 2;

  .padding-dd@{i}, .padding-dd@{i}-ntfirst:not(:first-child), .padding-dd@{i}-ntlast:not(:last-child) {
    padding: ~'@{varlpd}rem' !important;
  }
  .padding-left-dd@{i}, .padding-left-dd@{i}-ntfirst:not(:first-child), .padding-left-dd@{i}-ntlast:not(:last-child) {
    padding-left: ~'@{varlpd}rem' !important;
  }
  .padding-right-dd@{i}, .padding-right-dd@{i}-ntfirst:not(:first-child), .padding-right-dd@{i}-ntlast:not(:last-child) {
    padding-right: ~'@{varlpd}rem' !important;
  }
  .padding-top-dd@{i}, .padding-top-dd@{i}-ntfirst:not(:first-child), .padding-top-dd@{i}-ntlast:not(:last-child) {
    padding-top: ~'@{varlpd}rem' !important;
  }
  .padding-bottom-dd@{i}, .padding-bottom-dd@{i}-ntfirst:not(:first-child), .padding-bottom-dd@{i}-ntlast:not(:last-child) {
    padding-bottom: ~'@{varlpd}rem' !important;
  }
  .padding-horizontal-dd@{i}, .padding-horizontal-dd@{i}-ntfirst:not(:first-child), .padding-horizontal-dd@{i}-ntlast:not(:last-child) {
    padding-left: ~'@{varlpd}rem' !important;
    padding-right: ~'@{varlpd}rem' !important;
  }
  .padding-vertical-dd@{i}, .padding-vertical-dd@{i}-ntfirst:not(:first-child), .padding-vertical-dd@{i}-ntlast:not(:last-child) {
    padding-top: ~'@{varlpd}rem' !important;
    padding-bottom: ~'@{varlpd}rem' !important;
  }

  .margin-dd@{i}, .margin-dd@{i}-ntfirst:not(:first-child), .margin-dd@{i}-ntlast:not(:last-child) {
    margin: ~'@{varlpd}rem' !important;
  }
  .margin-left-dd@{i}, .margin-left-dd@{i}-ntfirst:not(:first-child), .margin-left-dd@{i}-ntlast:not(:last-child) {
    margin-left: ~'@{varlpd}rem' !important;
  }
  .margin-right-dd@{i}, .margin-right-dd@{i}-ntfirst:not(:first-child), .margin-right-dd@{i}-ntlast:not(:last-child) {
    margin-right: ~'@{varlpd}rem' !important;
  }
  .margin-top-dd@{i}, .margin-top-dd@{i}-ntfirst:not(:first-child), .margin-top-dd@{i}-ntlast:not(:last-child) {
    margin-top: ~'@{varlpd}rem' !important;
  }
  .margin-bottom-dd@{i}, .margin-bottom-dd@{i}-ntfirst:not(:first-child), .margin-bottom-dd@{i}-ntlast:not(:last-child) {
    margin-bottom: ~'@{varlpd}rem' !important;
  }
  .margin-horizontal-dd@{i}, .margin-horizontal-dd@{i}-ntfirst:not(:first-child), .margin-horizontal-dd@{i}-ntlast:not(:last-child) {
    margin-left: ~'@{varlpd}rem' !important;
    margin-right: ~'@{varlpd}rem' !important;
  }
  .margin-vertical-dd@{i}, .margin-vertical-dd@{i}-ntfirst:not(:first-child), .margin-vertical-dd@{i}-ntlast:not(:last-child) {
    margin-top: ~'@{varlpd}rem' !important;
    margin-bottom: ~'@{varlpd}rem' !important;
  }

  @varld: @varm - 0.5;

  .width-d@{i} {
    width: ~'@{varld}rem' !important;
  }
  .height-d@{i} {
    height: ~'@{varld}rem' !important;
  }
  .min-width-d@{i} {
    min-width: ~'@{varld}rem' !important;
  }
  .min-height-d@{i} {
    min-height: ~'@{varld}rem' !important;
  }
  .max-width-d@{i} {
    max-width: ~'@{varld}rem' !important;
  }
  .max-height-d@{i} {
    max-height: ~'@{varld}rem' !important;
  }

  @varf: @i * 5;

  .width-vd@{i} {
    width: ~'@{varf}vw' !important;
  }
  .height-vd@{i} {
    height: ~'@{varf}vh' !important;
  }
  .min-width-vd@{i} {
    min-width: ~'@{varf}vw' !important;
  }
  .min-height-vd@{i} {
    min-height: ~'@{varf}vh' !important;
  }
  .max-width-vd@{i} {
    max-width: ~'@{varf}vw' !important;
  }
  .max-height-vd@{i} {
    max-height: ~'@{varf}vh' !important;
  }

  .width-pd@{i} {
    width: ~'@{varf}%' !important;
  }
  .height-pd@{i} {
    height: ~'@{varf}%' !important;
  }
  .min-width-pd@{i} {
    min-width: ~'@{varf}%' !important;
  }
  .min-height-pd@{i} {
    min-height: ~'@{varf}%' !important;
  }
  .max-width-pd@{i} {
    max-width: ~'@{varf}%' !important;
  }
  .max-height-pd@{i} {
    max-height: ~'@{varf}%' !important;
  }

  .padding-px@{i} {
    padding: ~'@{i}px' !important;
  }
  .padding-left-px@{i} {
    padding-left: ~'@{i}px' !important;
  }
  .padding-right-px@{i} {
    padding-right: ~'@{i}px' !important;
  }
  .padding-top-px@{i} {
    padding-top: ~'@{i}px' !important;
  }
  .padding-bottom-px@{i} {
    padding-bottom: ~'@{i}px' !important;
  }
  .padding-horizontal-px@{i} {
    padding-left: ~'@{i}px' !important;
    padding-right: ~'@{i}px' !important;
  }
  .padding-vertical-px@{i} {
    padding-top: ~'@{i}px' !important;
    padding-bottom: ~'@{i}px' !important;
  }

  .margin-px@{i} {
    margin: ~'@{i}px' !important;
  }
  .margin-left-px@{i} {
    margin-left: ~'@{i}px' !important;
  }
  .margin-right-px@{i} {
    margin-right: ~'@{i}px' !important;
  }
  .margin-top-px@{i} {
    margin-top: ~'@{i}px' !important;
  }
  .margin-bottom-px@{i} {
    margin-bottom: ~'@{i}px' !important;
  }
  .margin-horizontal-px@{i} {
    margin-left: ~'@{i}px' !important;
    margin-right: ~'@{i}px' !important;
  }
  .margin-vertical-px@{i} {
    margin-top: ~'@{i}px' !important;
    margin-bottom: ~'@{i}px' !important;
  }

  .width-px@{i} {
    width: ~'@{i}px' !important;
  }
  .height-px@{i} {
    height: ~'@{i}px' !important;
  }
  .min-width-px@{i} {
    min-width: ~'@{i}px' !important;
  }
  .min-height-px@{i} {
    min-height: ~'@{i}px' !important;
  }
  .max-width-px@{i} {
    max-width: ~'@{i}px' !important;
  }
  .max-height-px@{i} {
    max-height: ~'@{i}px' !important;
  }

  .mixin-loop(@i - 1);
}

.mixin-loop(10);

.width-auto {
  width: auto !important;
}

.height-auto {
  height: auto !important;
}

.width-full {
  width: 100% !important;
}

.height-full {
  height: 100% !important;
}
