@popup-error: #E14E52;
@popup-default: #4E9AE1;

// @element * .popup:hover {
//     eq_parent {
//         background: red;
//     }
// }

.popup {
    font-size: 0.8rem;
    line-height: 1.25rem;
    color: #fff;
    background-color: @popup-default;
    position: absolute;
    width: auto;
    height: auto;
    padding: 0.35rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.775rem;
    max-width: 15rem;
    width: 10rem;
    min-width: 100%;
    // word-break: break-all;
    white-space: pre-line;
    box-sizing: border-box;

    // z-index: 99 !important;

    // box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    text-overflow: ellipsis;

    transition: opacity 0.3s, transform 0.3s, left 0.3s, right 0.3s, top 0.3s, bottom 0.3s;
    
    &:extend(.popup.hide);

    &.error {
        background-color: @popup-error;
    }

    &.select {
        min-width: 20rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);

        pointer-events: all;
        
        & > .sp-input {
            position: relative;
            white-space: nowrap;
            padding: 0 1rem;
            margin-bottom: 0.15rem;

            input:hover ~ .popup, input:focus ~ .popup {
                &:extend(.popup.show);
            }

            // &[loading] > .popup, &.loading > .popup, &[disabled] > .popup, &.disabled > .popup {
            //   &:extend(.popup.hide);
            // }

            & > input ~ .right {
                font-size: 0.8rem;
                position: absolute;
                text-align: right;
                top: 50%;
                right: 1.25rem;
                transform: translateY(-50%);
                // color: rgba(255, 255, 255, 0.8);
                color: #a8bbc0;
                
                transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out, left 0.2s ease-in-out, font-size 0.2s ease-in-out;
            }

            & > input:focus ~ .right {
                font-size: 1rem;
                right: 1.25rem;
                color: #a8bbc0;
            }

            & > input:not(:placeholder-shown) ~ .right {
                opacity: 0;
            }

            & > input + .fa {
                font-size: 0.8rem;
                position: absolute;
                top: 50%;
                left: 1.25rem;
                transform: translateY(-50%);
                // color: rgba(255, 255, 255, 0.8);
                color: #a8bbc0;
                
                transition: color 0.2s ease-in-out, left 0.2s ease-in-out, font-size 0.2s ease-in-out;
            }

            & > input:focus + .fa {
                font-size: 1rem;
                left: 1.25rem;
            }

            & > input {
                font-size: 0.8rem;
                border-radius: 10rem;
                width: 100%;
                min-width: 15rem;
                box-sizing: border-box;
                // margin: 0 5rem;

                // color: rgba(255, 255, 255, 0.8);
                // background-color: rgba(78, 154, 225, 1);

                outline: none;
                padding: 0.65rem 0rem 0.65rem 1.35rem;

                transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, padding 0.2s ease-in-out, font-size 0.2s ease-in-out;
                .will-change(color, background-color);

                pointer-events: all;
                .selectable;
                cursor: text;

                border: 1px solid transparent;
            
                color: #333;
                background-color: transparent;

                &::-webkit-input-placeholder {
                    color: #a8bbc0;
                }

                &:-moz-placeholder {
                    color: #a8bbc0;
                }

                &::-moz-placeholder {
                    color: #a8bbc0;
                }

                &:-ms-input-placeholder {
                    color: #a8bbc0;
                }

                &:focus {
                    font-size: 1rem;
                    margin: 0;
                    padding: 0.75rem 0rem 0.75rem 1.65rem;
                    // border: 1px solid #2196f3;
                }
            }

            &:hover {
                &::after {
                    background-color: rgba(78, 154, 225, 0.5);
                }
            }

            &::after {
                content: '';
                position: absolute;
                left: 1.1rem;
                right: 1.1rem;
                bottom: 0.15rem;
                height: 0.12rem;
                // width: 100%;
                // height: 100%;
                // background-color: rgba(0,0,0,0);
                background-color: rgba(0, 0, 0, 0.1);
                transform: scale(1);
                transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
                // transform: scale(0.4);

                pointer-events: none;
            }

            &[loading], &.loading {
                // pointer-events: none;
                
                color: #fff;

                // -webkit-animation: pulse .6s infinite ease-in-out alternate forwards;
                // -moz-animation: pulse .6s infinite ease-in-out alternate forwards;
                // -o-animation: pulse .6s infinite ease-in-out alternate forwards;
                // animation: pulse .6s infinite ease-in-out alternate forwards;

                &::after {
                    background-color: rgba(78, 154, 225, 0.5);
                    transform: scale(1);
                    
                    -webkit-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                    -moz-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                    -o-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                    animation: pulseafter .6s infinite ease-in-out alternate forwards;
                }
            }
        }

        & > .select-container {
            max-height: 20rem;
            overflow-x: none;
            overflow-y: auto;
            pointer-events: all;
            text-align: center;
            width: 100%;
            border-radius: 0.5rem;
        }

        & > .sp-item, & > .select-container > .sp-item {
            cursor: pointer;
            pointer-events: all;
            position: relative;
            border: none;
            touch-action: manipulation;
            outline: none !important;
            width: 100%;

            .transition(transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
            .will-change(transform, background-color, color);

            border-radius: 0.5rem;
            
            font-weight: 500;
            background-color: rgba(0,0,0,0.0);
            color: rgba(0,0,0,0.6);

            .box-xs;

            &:not(:last-child) {
                margin-bottom: 0.15rem;
            }

            &[error], &.error {
                -webkit-animation: pulseerror 1.2s infinite ease-in-out alternate forwards;
                -moz-animation: pulseerror 1.2s infinite ease-in-out alternate forwards;
                -o-animation: pulseerror 1.2s infinite ease-in-out alternate forwards;
                animation: pulseerror 1.2s infinite ease-in-out alternate forwards;

                // &::before {
                //   background-color: rgba(223, 79, 85, 0.6);
                //   transform: scale(1);
                
                //   -webkit-animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
                //   -moz-animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
                //   -o-animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
                //   animation: pulseafter 1.2s infinite ease-in-out alternate forwards;
                // }

                // box-shadow: inset 0px 0px 0px 200px rgba(223, 79, 85, 0.5);
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                background-color: rgba(0,0,0,0);
                transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
                transform: scale(0.4);

                border-radius: 0.5rem;
                pointer-events: none;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                background-color: rgba(0,0,0,0);
                transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
                transform: scale(0.4);

                border-radius: 0.5rem;
                pointer-events: none;
            }

            &:hover > .popup, &:focus > .popup {
                cursor: pointer;
                &:extend(.popup.show);
            }

            &[loading] > .popup, &.loading > .popup, &[disabled] > .popup, &.disabled > .popup {
                &:extend(.popup.hide);
            }

            &:hover, &:hover, &:focus {
                // border: 0px solid transparent;
                // background-color: transparent;
                // background-color: rgba(0,0,0,0.1);
                // box-shadow: none;
                &::before {
                    transform: scale(1);
                    background-color: rgba(0,0,0,0.1);
                    // box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
                }
            }

            &:active  {
                // color: #0e1b1d;
                transform: scale(0.98);
            }
            
            &.active {
                pointer-events: none;
            }

            &:active, &.active  {
                &::before {
                    transform: scale(1);
                }

                &::after {
                    transform: scale(1);
                    background-color: rgba(0,0,0,0.075);
                }
            }

            &[loading], &.loading {
                pointer-events: none;

                -webkit-animation: pulse .6s infinite ease-in-out alternate forwards;
                -moz-animation: pulse .6s infinite ease-in-out alternate forwards;
                -o-animation: pulse .6s infinite ease-in-out alternate forwards;
                animation: pulse .6s infinite ease-in-out alternate forwards;

                &::before {
                    background-color: rgba(255, 255, 255, 0.5);
                    transform: scale(1);
                }

                &::after {
                    background-color: rgba(255, 255, 255, 0.5);
                    transform: scale(1);
                    
                    -webkit-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                    -moz-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                    -o-animation: pulseafter .6s infinite ease-in-out alternate forwards;
                    animation: pulseafter .6s infinite ease-in-out alternate forwards;
                }
            }

            &[disabled], &.disabled {
                pointer-events: none;
                color: rgba(0,0,0,0.15);

                // &::after {
                //     transform: scale(1);
                //     background-color: rgba(0,0,0,0.25);
                // }
            }
        }
    }

    &.show {
        opacity: 1;
        visibility: visible;
        // display: inline-block;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
        // display: none;
        // transform: translateX(-50%) translateY(-0.5rem) scale(0.9);

        .popup {
            &:extend(.popup.hide);
        }
    }

    &:active {
        // opacity: 0;
        // pointer-events: none;
    }

    &.top-1 {
        top: 1rem;
    }

    &.right-1 {
        right: 1rem;
    }

    &.left-1 {
        left: 1rem;
    }

    &.bottom-1 {
        bottom: 1rem;
    }

    &.top-0 {
        top: 0;
    }

    &.right-0 {
        right: 0;
    }

    &.left-0 {
        left: 0;
    }

    &.bottom-0 {
        bottom: 0;
    }

    &::before {
        transition: border 0.1s, transform 0.1s, left 0.1s, right 0.1s, top 0.1s, bottom 0.1s;
        // z-index: 98;
    }

    &.top {
        transform: translateX(-50%) translateY(-0.5rem);
        left: 50%;
        bottom: 100%;

        &::before {
            content: "";
            display: block;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-top: 0.5rem solid @popup-default;
            position: absolute;
            bottom: -0.5rem;
            right: 50%;
            transform: translateX(50%);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 1rem;
            transform: translateY(50%);
        }

        &.error {
            &::before {
                border-top-color: @popup-error;
            }
        }

        &.select {
            &::before {
                border-top-color: transparent;
            }
        }
    }

    &.bottom {
        transform: translateX(-50%) translateY(0.5rem);
        left: 50%;
        top: 100%;

        &::before {
            content: "";
            display: block;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-bottom: 0.5rem solid @popup-default;
            position: absolute;
            top: -0.5rem;
            right: 50%;
            transform: translateX(50%);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 1rem;
            transform: translateY(-50%);
        }

        &.error {
            &::before {
                border-bottom-color: @popup-error;
            }
        }

        &.select {
            &::before {
                border-bottom-color: transparent;
            }
        }
    }

    &.top-right {
        transform: translateY(-0.5rem);
        right: 0%;
        bottom: 100%;

        &::before {
            content: "";
            display: block;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-top: 0.5rem solid @popup-default;
            position: absolute;
            bottom: -0.5rem;
            right: 2.5rem;
            transform: translateX(50%);
        }

        &.error {
            &::before {
                border-top-color: @popup-error;
            }
        }

        &.select {
            &::before {
                border-top-color: transparent;
            }
        }
    }

    &.top-left {
        transform: translateY(-0.5rem);
        left: 0%;
        bottom: 100%;

        &::before {
            content: "";
            display: block;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-top: 0.5rem solid @popup-default;
            position: absolute;
            bottom: -0.5rem;
            left: 2.5rem;
            transform: translateX(50%);
        }

        &.error {
            &::before {
                border-top-color: @popup-error;
            }
        }

        &.select {
            &::before {
                border-top-color: transparent;
            }
        }
    }

    &.left {
        transform: translateY(50%) translateX(-0.25rem);
        right: 100%;
        bottom: 50%;

        &::before {
            content: "";
            display: block;
            border-top: 0.75rem solid transparent;
            border-bottom: 0.75rem solid transparent;
            border-left: 1.0rem solid @popup-default;
            position: absolute;
            right: -0.25rem;
            bottom: 50%;
            transform: translateY(50%);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 1rem;
            height: 100%;
            transform: translateX(50%);
        }

        &.error {
            &::before {
                border-left-color: @popup-error;
            }
        }

        &.select {
            &::before {
                border-left-color: transparent;
            }
        }
    }
}

.popup-ext {
    &:hover, &:active, &.open {
        & > .popup {
            &:extend(.popup.show);
        }
    }

    &:hover > .popup, &:focus > .popup {
        &:extend(.popup.show);
    }

    &[loading] > .popup, &.loading > .popup, &[disabled] > .popup, &.disabled > .popup {
        &:extend(.popup.hide);
    }
}

.popup-ext-input {
    &:hover + .popup, &:focus + .popup {
        &:extend(.popup.show);
    }

    & + .popup:hover {
        &:extend(.popup.show);
    }
}