.selectable {
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -o-user-select: auto;
  user-select: auto;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
