// Sizes
@mobile: 600px;
@tablet: 1000px;
@pc-old: 1250px;
@pc: 1400px;
@ultra: 2000px;
@mega: 2600px;

// Core
@import (less) "./core/mixin.less";
@import (less) './core/padding.less';
@import (less) "./core/loader.less";
@import (less) "./core/text.less";
@import (less) "./core/box.less";
@import (less) "./core/header.less";
@import (less) "./core/body.less";
@import (less) "./core/selectable.less";
@import (less) "./core/container.less";
@import (less) "./core/popup.less";

// Module
@import (less) "./module/font-awesome.less";

// Special
@import (less) "./special/loading.less";
@import (less) "./special/input.less";
@import (less) "./special/btn.less";
@import (less) "./special/inlines.less";
@import (less) "./special/horizontal-layout.less";
@import (less) "./special/vertical-layout.less";
@import (less) "./special/table-layout.less";
@import (less) "./special/module.less";
@import (less) "./special/pagination.less";
@import (less) "./special/menu.less";
@import (less) "./special/tab.less";
@import (less) "./special/divider.less";
@import (less) "./special/pane.less";
@import (less) "./special/progress.less";
@import (less) "./special/profile.less";
@import (less) "./special/tag.less";
@import (less) "./special/tree.less";

// Post
@import (less) "./post/all-loading.less";